@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

header {
    background-image: url("bilder/background-home.jpg");
    background-size: cover;
    position: relative;
    min-height: 300px;
    /* parralax effekt css*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* parralax effekt css*/
}

body {
    margin: 0%;
    background-color: #1e2e48;
}

h1 {
    margin: 0%
}

.titletext {
    background-color: white;
    color: black;
    font-size: 7vw;
    font-weight: bold;
    margin: 0 auto;
    padding: 2px;
    width: 45%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

.navli {
    color: white;
    padding: 0.4% 3%;
    font-size: 1.6vw;
    text-decoration-line: initial;
    margin: 0.4% 2% 0.4% 2%;
    box-shadow: none;
    -webkit-transition: box-shadow 0.35s;
    -moz-transition: box-shadow 0.35s;
    -o-transition: box-shadow 0.35s;
    transition: box-shadow 0.35s;
}

.navli:hover {
    -webkit-box-shadow: 0px 3px 0px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 0px 0px rgba(255, 255, 255, 1);
}

#navul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0%;
}

nav {
    background: linear-gradient(to bottom, #296791 0%, #1b3b54 50%, #163c54 51%, #152638 100%);
}

main {
    min-height: 100%;
    padding-top: 10%;
}

#navdiv {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#startbild {
    width: 3%;
    float: left;
    margin: -3.4% 2% 0% 49%;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-transition: box-shadow 0.35s;
    -moz-transition: box-shadow 0.35s;
    -o-transition: box-shadow 0.35s;
    transition: box-shadow 0.35s;
}

#startbild:hover {
    box-shadow: 5px 5px 5px 0px rgba(119, 119, 119, 0.75);
}



.standartp {
    text-align: justify;
    color: rgb(204, 203, 203);
    margin: 2% 0% 7% 0%
}

.stylediv {
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#stylefoto1 {
    background-image: url("bilder/mojave-night.jpg");
}





.ueber1 {
    color: white;
    text-align: center;
    font-size: 2.2vw;
}

.ueber1hr {
    width: 100%;
    border: 2px solid white;
    margin: 1% 0% 6%;
}

.maintextdiv {
    margin: 0% 20%;
}

.mainpicturediv {
    
}